.Banner {
    background-image: url("../img/Banner_Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.Banner_pic img {
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 30rem;
}

/*Home catagories*/
.home_catagories_background {
    background-color: rgba(196, 196, 196, 0.27);
    padding: 0px 0px 10px 0px;
}

.Home-heading {
    font-family: 'Mulish';
    padding: 50px 0px 30px 0px;
}


.home_catagories {
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    background-color: white;
    width: 15rem;
    height: auto;
}

.browser_catagories-heading {
    text-align: center;
    padding-bottom: 15px;
    font-size: 23px;
    font-family: 'Mulish';
    font-weight: 700;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Features*/
.home_feature_background {
    padding-bottom: 40px;
}


@media screen and (max-width: 800px) {
}

@media screen and (max-width: 450px) {
    .Banner_pic img {
        border: none;
        border-radius: 20px;
        width: 100%;
        height: 18rem;
    }
}
