.homw .btn {
    vertical-align: inherit;
    margin-top: -3px;
    font-size: 1.15rem;
    font-family: 'Mulish';
}

.home .logo img {
    height: 6rem;
}

.home .nav-item {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 1.2rem;
}

.home .form-control {
    height: calc(2.5rem + 2px);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    font-family: 'Mulish';
}

.home .btn {
    font-family: 'Mulish';
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.home .bx.icon-single {
    font-family: 'Mulish';
    font-size: 3rem;
}

.home .form-inline .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'Mulish';
}

.home .form-inline .btn {
    font-family: 'Mulish';
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .home .form-inline .form-control {
        width: 210px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .home .form-inline .form-control {
        width: 440px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .home .form-inline .form-control {
        width: 600px;
    }
}

.home .sub-menu.navbar-light .navbar-nav .active > .nav-link,
.home .sub-menu.navbar-light .navbar-nav .nav-link.active,
.home .sub-menu.navbar-light .navbar-nav .nav-link.show,
.home .sub-menu.navbar-light .navbar-nav .show > .nav-link {
    border-bottom: 3px solid #E78200;
    color: #E78200;
    font-weight: 700;
    font-family: 'Mulish';
}

.home .navbar .navbar-toggler {
    border: none;
}

.home .navbar-light .navbar-toggler:focus {
    outline: none;
}

.home .navbar {
    padding: 0rem;
}

.home .main-menu {
    position: relative;
    z-index: 3;
}

.home .sub-menu {
    position: relative;
    z-index: 2;
    padding: 0 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .home .sub-menu {
        padding: 0 1rem;
    }

        .home .sub-menu.navbar-expand-md .navbar-nav .nav-link {
            padding: 1rem;
        }
}

.home .navbar.bg-light {
    background: #fff !important;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.home .user-dropdown .nav-link {
    padding: 0.15rem 0;
}

.home #sidebar {
    background: #fff;
    height: 100%;
    left: -100%;
    top: 0;
    bottom: 0;
    overflow: auto;
    position: fixed;
    transition: 0.4s ease-in-out;
    width: 84%;
    z-index: 5001;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding: 1.25rem 1rem 1rem;
}

    .home #sidebar.active {
        left: 0;
    }

    .home #sidebar .sidebar-header {
        background: #fff;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 1.5rem;
    }

    .home #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 40px;
    }

    .home #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    .home #sidebar ul li a {
        padding: 10px 16px;
        font-size: 1.1em;
        font-family: Mulish;
        display: block;
        color: #000;
    }

        .home #sidebar ul li a:hover {
            color: #e78200;
            background: #fff;
            font-family: Mulish;
        }

    .home #sidebar ul li.active > a,
    .home #sidebar a[aria-expanded="true"] {
        color: #007bff;
        background: #e6f2ff;
        border-radius: 6px;
    }

.home a[data-toggle="collapse"] {
    position: relative;
}

.home #sidebar .links .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.home section {
    padding: 6rem;
    background: #e4e4e4;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.home .overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
    width: 100%;
    opacity: 0;
}

    .home .overlay.visible {
        opacity: 1;
        z-index: 5000;
    }

/* .mobiHeader .menuActive~.overlay {
      opacity: 1;
      width: 100%;
  } */

.home ul.social-icons {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

    .home ul.social-icons li {
        display: inline-block;
        margin-right: 0px;
        margin-bottom: 0;
    }

.home #sidebar ul.social-icons li a {
    font-size: 24px;
}

.home .utility-nav {
    background: #e4e4e4;
    padding: 0.5rem 1rem;
}

    .home .utility-nav p {
        margin-bottom: 0;
    }

.home .search-bar {
    position: relative;
    z-index: 2;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

    .home .search-bar .form-control {
        width: calc(100% - 45px);
    }

.home .avatar {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 8px;
}

    .home .avatar.avatar-xs {
        width: 2.25rem;
        height: 2.25rem;
    }

.home .user-dropdown .dropdown-menu {
    left: auto;
    right: 0;
}

.home .logo img {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .home .bx.icon-single {
        font-size: 3rem;
    }

    .home .logo img {
        width: 18rem;
    }
}


@media screen and (max-width: 600px) {
    .home .navbar {
        margin: 2px;
        padding: 2px;
    }

    .home .logo {
        margin: 2px;
        padding: 2px;
    }

        .home .logo img {
            width: 15rem;
        }

    .home .nav-item {
        display: none;
    }

    .home .bx.icon-single {
        font-size: 3rem;
    }

    .home .navbar-brand {
        padding: 0px;
        margin: 0px;
    }
}


/*Footer*/
.home .footer-background {
    background-color: rgba(196, 196, 196, 0.41);
}

.home .footer-collapsible {
    padding: 30px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 19px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

    .home .footer-collapsible:hover {
        background-color: #e78200;
    }

.home .footer-content {
    padding: 8px;
    display: none;
    font-family: 'Mulish';
    font-size: 21px;
}

.home .footer-title {
    padding: 30px;
    padding-bottom: 10px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 19px;
}

.home .icon-social-icons {
    display: flex;
    justify-content: center;
}

.home .footer-signup-btn {
    font-weight: 700;
    font-family: 'Mulish';
    font-size: 21px;
    padding: 2px 10px 2px 10px;
}

.home .footer-signup button:hover {
    background-color: #007bff;
}

.home .footer-paragraph {
    padding: 8px;
    font-family: 'Mulish';
    font-size: 17px;
}

.home .footer-end {
    margin: 0px;
    padding: 15px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 17px;
    /* color: #E78200; */
}
